@font-face {
  font-family: "iconfont"; /* Project id 2301665 */
  src: url('iconfont.woff2?t=1711955545115') format('woff2'),
       url('iconfont.woff?t=1711955545115') format('woff'),
       url('iconfont.ttf?t=1711955545115') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jieshubianli:before {
  content: "\e915";
}

.icon-kaishibianli:before {
  content: "\e916";
}

.icon-danchuangtishi:before {
  content: "\e914";
}

.icon-shuangfenzhipanduan:before {
  content: "\e912";
}

.icon-duofenzhipanduan:before {
  content: "\e913";
}

.icon-tiaoyongjiaoben:before {
  content: "\e911";
}

.icon-zhuandaxie:before {
  content: "\e910";
}

.icon-shijianchuozhuanriqi:before {
  content: "\e90e";
}

.icon-riqizhuanshijianchuo:before {
  content: "\e90f";
}

.icon-kongjianfuzhi:before {
  content: "\e90c";
}

.icon-if:before {
  content: "\e90d";
}

.icon-tiaoyongjiekou:before {
  content: "\e909";
}

.icon-tiaoyongkongjianfangfa:before {
  content: "\e90a";
}

.icon-tiaoyonghanshu:before {
  content: "\e90b";
}

.icon-shijiangeshizhuanhuan:before {
  content: "\e904";
}

.icon-shijianjianfa:before {
  content: "\e905";
}

.icon-kongjianzhiqingkong:before {
  content: "\e906";
}

.icon-dakaiyemian:before {
  content: "\e907";
}

.icon-shijianjiafa:before {
  content: "\e908";
}

.icon-quxiaobitian:before {
  content: "\e8ff";
}

.icon-shezhikebianji:before {
  content: "\e900";
}

.icon-jieshu:before {
  content: "\e901";
}

.icon-kaishi:before {
  content: "\e902";
}

.icon-fuzhi:before {
  content: "\e903";
}

.icon-shezhibitian:before {
  content: "\e8fd";
}

.icon-yincang:before {
  content: "\e8fe";
}

.icon-xianshi:before {
  content: "\e8fb";
}

.icon-shezhizhidu:before {
  content: "\e8fc";
}

.icon-lishiyijian:before {
  content: "\e8f8";
}

.icon-zhiwu:before {
  content: "\e8f6";
}

.icon-qianming:before {
  content: "\e8f7";
}

.icon-tupianliebiao:before {
  content: "\e8f";
}

.icon-quanbu:before {
  content: "\e8f0";
}

.icon-xise-632:before {
  content: "\e8b";
}

.icon-huanyuan-610:before {
  content: "\e8a8";
}

.icon-chehui-609:before {
  content: "\e8a6";
}

.icon-fileview:before {
  content: "\e7e8";
}

.icon-window:before {
  content: "\e7e9";
}

.icon-user:before {
  content: "\e7e1";
}

.icon-link:before {
  content: "\e7e";
}

.icon-scsj:before {
  content: "\e7e0";
}

.icon-dept:before {
  content: "\e7ed";
}

.icon-scr:before {
  content: "\e7e6";
}

.icon-bmyj:before {
  content: "\e7ef";
}

.icon-scyj:before {
  content: "\e7f0";
}

.icon-scjl:before {
  content: "\e7f";
}

.icon-tabs:before {
  content: "\e8cd";
}

.icon-zhage:before {
  content: "\e63f";
}

.icon-qiapian:before {
  content: "\e670";
}

.icon-fengexian:before {
  content: "\ec7f";
}

.icon-zihao:before {
  content: "\e623";
}

.icon-ai-code:before {
  content: "\e606";
}

.icon-button-remove:before {
  content: "\e638";
}

.icon-zu:before {
  content: "\e615";
}

.icon-LC_icon_edit_line_1:before {
  content: "\e65b";
}

.icon-kaiguan3:before {
  content: "\e6d";
}

.icon-guanlian:before {
  content: "\e61f";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-image:before {
  content: "\e61a";
}

.icon-tree:before {
  content: "\e7a5";
}

.icon-upload:before {
  content: "\e60c";
}

.icon-menu:before {
  content: "\e60";
}

.icon-pingfen_moren:before {
  content: "\e877";
}

.icon-time:before {
  content: "\e633";
}

.icon-calendar:before {
  content: "\e60a";
}

.icon-danxuan-cuxiantiao:before {
  content: "\e67";
}

.icon-xiala:before {
  content: "\e640";
}

.icon-number:before {
  content: "\e639";
}

.icon-duoxuan1:before {
  content: "\e66";
}

.icon-edit:before {
  content: "\e607";
}

.icon-write:before {
  content: "\e612";
}

